<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="commons.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Books listing</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>ISBN</td>
        <td>Publisher</td>
        <td>Authors</td>
    </tr>
    </thead>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">title</td>
        <td th:text="${book.isbn}">isbn</td>
        <td th:text="${book.publisher.name}">publisher</td>
        <td>
            <ul>
                <li th:each="author : ${book.authors}" th:text="${author.fullName}">author name</li>
            </ul>
        </td>
    </tr>
</table>

<a href="/authors">Authors</a>
</body>
</html>